UTILISATION DE TALIB POUR MOVING AVERAGE

In [13]:
import talib
import pandas as pd
from talib import SMA

In [2]:
csv_file = "crypto_intraday_5min_ETH_USD (version 1).csv"

In [5]:
df = pd.read_csv(csv_file)

In [9]:
df.head()

        timestamp     open     high      low    close  volume
0  5/6/2022 15:00  2697.18  2703.97  2690.00  2691.67    3460
1  5/6/2022 14:55  2695.14  2705.40  2690.94  2697.18    5386
2  5/6/2022 14:50  2691.44  2695.89  2684.01  2695.14    4288
3  5/6/2022 14:45  2669.42  2692.30  2667.57  2691.43   11764
4  5/6/2022 14:40  2664.18  2675.00  2662.00  2669.42    4409

In [16]:
df['SMA'] = SMA(df['close']) 
print(df['SMA'])

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
          ...
128    2746.517333
129    2746.173333
130    2745.798333
131    2745.515000
132    2745.402667
Name: SMA, Length: 133, dtype: float64